@import 'colors';

.td-todo {
	padding: 20px;

	.td-selection {
		height: 100vh;
		border-right: 1px solid var(--c1);
	}

	.td-list {
		.td-form {
			align-items: center;
			display: flex;

			.td-input {
				width: 100%;
			}
		}
	}
}
