{
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"airbnb"
	],
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"linebreak-style": ["error", "unix"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/prefer-stateless-function": [0, { "ignorePureComponents": false }],
		"react/jsx-indent": ["error", "tab"],
		"comma-dangle": ["error", { "functions": "ignore" }],
		"no-tabs": 0,
		"max-len": 0,
		"arrow-body-style": 0,
		"object-curly-newline": 0,
		"react/destructuring-assignment": 0,
		"react/no-array-index-key": 0,
		"react/prop-types": 0,
		"import/order": 0,
		"react/jsx-tag-spacing": 0,
		"no-use-before-define": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"import/no-unresolved": "off",
		"react/jsx-indent-props": [1, "tab"],
		"react/jsx-closing-bracket-location": [1, "tag-aligned"],
		"react/jsx-one-expression-per-line": [1]
	}
}
