@import '../../../assets/scss/base/mixins/index';

.td-todo {
	.ts-info-wrapper {
		margin-bottom: 25px;

		.td-info {
			margin-top: 40px;

			.td-intro {
				align-items: center;
				display: flex;

				h1 {
					font-size: fontSize(30px);
					font-weight: 300;
					line-height: 0;
				}

				.td-icon {
					color: var(--c4);
					display: inherit;
					font-size: fontSize(30px);
					margin-left: 5px;
				}
			}

			.td-detail {
				margin-top: 30px;

				p {
					color: var(--c3);
					font-size: fontSize(15px);
				}

				h3 {
					font-weight: 300;
					margin: 15px 0;

					&:first-child {
						margin-top: 0;
					}

					span {
						background-color: var(--c1);
						border-radius: 15px;
						color: var(--c3);
						font-size: fontSize(16px);
						font-weight: 400;
						padding: 2px 8px;
					}
				}
			}
		}
	}

	.td-filters {
		width: 90%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			button {
				border-radius: 0;
				padding-left: 15px;
				width: 100%;

				&.td-disabled {
					color: var(--c4);
					background-color: var(--c1);
				}

				span {
					justify-content: flex-start;
				}
			}
		}
	}

	.td-form {
		.td-submit {
			margin: 10px 0 30px;
			text-align: right;
		}
	}

	.td-item {
		background-color: var(--c1);
		border-radius: 5px;
		margin-bottom: 20px;
		padding: 0 15px 10px;

		.td-created {
			border-bottom: 1px solid var(--c1);
			line-height: 0;
			margin: 10px 0;
			text-align: center;
			width: 100%;

			span {
				background-color: var(--c2);
				border-radius: 10px;
				color: var(--c3);
				font-size: fontSize(14px);
				font-weight: 500;
				padding: 0 10px 2px;
			}
		}

		.td-actions {
			text-align: right;

			button {
				min-width: auto;
				padding: 0;
			}
		}

		.td-text {
			color: var(--c3);
		}
	}
}
