@import '../../../../assets/scss/base/index';

.td-item {
	background-color: var(--c1);
	border-bottom: 1px solid var(--c5);
	border-radius: 2px;
	margin-bottom: 30px;
	padding: 0 15px;
	position: relative;

	.td-created {
		border-bottom: 1px solid var(--c1);
		line-height: 0;
		margin: 10px 0;
		text-align: center;
		width: 100%;

		span {
			background-color: var(--c2);
			color: var(--c3);
			font-size: fontSize(14px);
			font-weight: 600;
			padding: 0 10px 5px;

			&.td-symbol {
				padding: 0;
			}
		}
	}

	.td-actions {
		position: absolute;
		right: 4px;
		top: 4px;

		button {
			min-width: auto;
			padding: 0;
		}
	}

	.td-text {
		color: var(--c3);
		padding: 20px 0 0;
	}
}
